[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp-xmlrpc = "*"
python-dotenv = "*"
distance = "*"
raven = "*"
sirbot = "*"
pyyaml = "*"
cython = "*"
cchardet = "*"
zipcodes = "*"

[dev-packages]
requests = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-aiohttp = "*"
asynctest = "*"

[requires]
python_version = "3.7"