[tool.poetry]
name = "operationcode-pybot"
version = "2.1"
description = "Operation Code's Official Slackbot"
authors = ["Allen Anthes <allen@operationcode.org>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.7"
cchardet = "^2.1"
cython = "^0.29.10"
python-dotenv = "^0.10.3"
pyyaml = "^5.1"
raven = "^6.10"
sirbot = "^0.1.1"
zipcodes = "^1.0"

[tool.poetry.dev-dependencies]
asynctest = "^0.13.0"
black = {version = "^19.3b0", allows-prereleases = true}
flake8 = "^3.7"
isort = "^4.3"
pytest = "^5.2"
pytest-aiohttp = "^0.3.0"
pytest-asyncio = "^0.10.0"
pytest-mock = "^1.10"
requests = "^2.22"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
